NEXT_PUBLIC_APP_NAME=Next App
NEXT_PUBLIC_APP_URL=http://localhost:3000

DATABASE_USER=postgres
DATABASE_PASS=random
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=mydb
DATABASE_URL="postgresql://${DATABASE_USER}:${DATABASE_PASS}@${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}?schema=public"

REDIS_PORT=6379

HASH_KEY="o8q48FVK8MMw@GXpXnQZMs3ek2Pn6t"

GOOGLE_CLIENT_ID=xxx
GOOGLE_CLIENT_SECRET=xxx

GITHUB_CLIENT_ID=xxx
GITHUB_CLIENT_SECRET=xxx
